.left-user-container{
    height: auto ;
    min-width: 320px;
    height: 100%;
    position: relative;
}
.user-scroll::-webkit-scrollbar {
    width: 5px;
  }

  .user-scroll::-webkit-scrollbar-thumb {
    background: rgb(101, 99, 99); 
  }

  .user-scroll::-webkit-scrollbar-thumb:hover {
    background: #555; 
  }
.user-scroll{
    position: absolute;
    height: calc( 100% - 60px );
    row-gap: 2px;
    overflow: auto;
}
.user-search-container{
    position: relative;
    display: grid;
    place-items: center;
    padding: 5px 0;
    height: 50px;
    width: 100%;
}

