.bottom-right-container{
    display: flex;
    align-items: center;
    height: 50px;
    padding-left:10px;
    position: relative;
}
.type-icon-main-container{
    width: 100%;
    position: absolute;
    display: flex;
    justify-content:start;
    align-items: center;
    height: 90px;
    left: 0;
    bottom:52px;
}
.type-icon-container{
    display: grid;
    align-items: center;
    gap: 4px;
    width: 150px;
    background-color: rgb(255, 255, 255);
    border-radius: 5px;
    padding:2px;
    margin-left: 20px;
}
.type-icon-container label{
    display: flex;
    align-items: center;
    font-size: 18px;
    gap: 5px;
    padding: 4px;
}
.type-icon-container label:hover{
    background-color: rgb(243, 240, 240);
    border-radius: 5px;
}
.emoji{
    font-size: 32px;
    cursor: pointer;
    
}
.send-msg-icon{
    height: 30px;
    width: 30px;
    border-radius: 5px;
    cursor: pointer;
    padding: 3px;
    display: grid;
    place-items: center;
    margin-right: 10px;
    margin-left: 5px;
    background-color: #d2d4da;
}
.input-for-message {
    height: 39px;
    font-size: 20px;
    outline: none;
    border:none;
   background-color: #e1e4eb;
    border-radius: 5px;
    padding: 0 0 0 10px;
    width: 86%;
}
.pickerStyle-container {
    height: max-content;
    width: max-content;
    position: absolute;
    bottom:calc(12vh);
    left: calc(100%-360px);
   
}
@media  screen and (max-width:1024px) {
    .pickerStyle-container {
       display: none;
    }
    .emoji{
        display: none;
    }
  }
