.bottom-right-container{
    display: flex;
    align-items: center;
    height: 50px;
    padding-left:10px;
}
.emoji{
    font-size: 32px;
    cursor: pointer;
    
}
.send-msg-icon{
    height: 30px;
    width: 30px;
    border-radius: 5px;
    cursor: pointer;
    padding: 3px;
    display: grid;
    place-items: center;
    margin-right: 10px;
    margin-left: 5px;
    background-color: #d2d4da;
}
.input-for-message {
    height: 39px;
    font-size: 20px;
    outline: none;
    border:none;
   background-color: #e1e4eb;
    border-radius: 5px;
    padding: 0 0 0 10px;
    width: 86%;
}
.pickerStyle-container {
    height: max-content;
    width: max-content;
    position: absolute;
    bottom:calc(12vh);
    left: calc(100%-360px);
   
}
@media  screen and (max-width:1024px) {
    .pickerStyle-container {
       display: none;
    }
    .emoji{
        display: none;
    }
  }