.container{
  height: 100vh;
  width: 100vw;
  padding: 0;
  margin: 0;
  background-color: #7c8ebc;
  display: grid;
  place-items: center;
  overflow: auto;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
svg{
  cursor: pointer;
}
.message-for-container{
  height: 90vh;
  width: 95vw;
  -webkit-user-select: none;
  -ms-user-select: none; 
  user-select: none;
  overflow:hidden;
  display: flex;
}
img{
  -drag: none;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-drag: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}
::-webkit-scrollbar {
  width: 5px;
  height: 4px;
}

::-webkit-scrollbar-thumb {
  background: #0c0c0c; 
}

::-webkit-scrollbar-thumb:hover {
  background: #555; 
}
@media  screen and (max-width:1024px) {
  .message-for-container{
    width: 100vw;
    height: 100vh;
    min-height: 100vh;
    overflow: auto;
  }
}
